.mdl-button {
    background: transparent;
    border: none;
    border-radius: 2px;
    color: rgb(0,0,0);
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle
}

.mdl-button::-moz-focus-inner {
    border: 0
}

.mdl-button:hover {
    background-color: rgba(158,158,158, 0.20)
}

.mdl-button:focus:not(:active) {
    background-color: rgba(0,0,0, 0.12)
}

.mdl-button:active {
    background-color: rgba(158,158,158, 0.40)
}

.mdl-button.mdl-button--colored {
    color: rgb(63,81,181)
}

.mdl-button.mdl-button--colored:focus:not(:active) {
    background-color: rgba(0,0,0, 0.12)
}

input.mdl-button[type="submit"] {
    -webkit-appearance: none
}

.mdl-button--raised {
    background: rgba(158,158,158, 0.20);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)
}

.mdl-button--raised:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    background-color: rgba(158,158,158, 0.40)
}

.mdl-button--raised:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0,0,0,0.18),0 8px 16px rgba(0,0,0,0.36);
    background-color: rgba(158,158,158, 0.40)
}

.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255)
}

.mdl-button--raised.mdl-button--colored:hover {
    background-color: rgb(63,81,181)
}

.mdl-button--raised.mdl-button--colored:active {
    background-color: rgb(63,81,181)
}

.mdl-button--raised.mdl-button--colored:focus:not(:active) {
    background-color: rgb(63,81,181)
}

.mdl-button--raised.mdl-button--colored .mdl-ripple {
    background: rgb(255,255,255)
}

.mdl-button--fab {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    background: rgba(158,158,158, 0.20);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);
    position: relative;
    line-height: normal
}

.mdl-button--fab .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px
}

.mdl-button--fab.mdl-button--mini-fab {
    height: 40px;
    min-width: 40px;
    width: 40px
}

.mdl-button--fab .mdl-button__ripple-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000)
}

.mdl-button--fab:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    background-color: rgba(158,158,158, 0.40)
}

.mdl-button--fab:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0,0,0,0.18),0 8px 16px rgba(0,0,0,0.36);
    background-color: rgba(158,158,158, 0.40)
}

.mdl-button--fab.mdl-button--colored {
    background: rgb(255,64,129);
    color: rgb(255,255,255)
}

.mdl-button--fab.mdl-button--colored:hover {
    background-color: rgb(255,64,129)
}

.mdl-button--fab.mdl-button--colored:focus:not(:active) {
    background-color: rgb(255,64,129)
}

.mdl-button--fab.mdl-button--colored:active {
    background-color: rgb(255,64,129)
}

.mdl-button--fab.mdl-button--colored .mdl-ripple {
    background: rgb(255,255,255)
}

.mdl-button--icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    line-height: normal
}

.mdl-button--icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px
}

.mdl-button--icon.mdl-button--mini-icon {
    height: 24px;
    min-width: 24px;
    width: 24px
}

.mdl-button--icon.mdl-button--mini-icon .material-icons {
    top: 0px;
    left: 0px
}

.mdl-button--icon .mdl-button__ripple-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000)
}

.mdl-button__ripple-container {
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
    overflow: hidden
}

.mdl-button[disabled] .mdl-button__ripple-container .mdl-ripple,.mdl-button.mdl-button--disabled .mdl-button__ripple-container .mdl-ripple {
    background-color: transparent
}

.mdl-button--primary.mdl-button--primary {
    color: rgb(63,81,181)
}

.mdl-button--primary.mdl-button--primary .mdl-ripple {
    background: rgb(255,255,255)
}

.mdl-button--primary.mdl-button--primary.mdl-button--raised,.mdl-button--primary.mdl-button--primary.mdl-button--fab {
    color: rgb(255,255,255);
    background-color: rgb(63,81,181)
}

.mdl-button--accent.mdl-button--accent {
    color: rgb(255,64,129)
}

.mdl-button--accent.mdl-button--accent .mdl-ripple {
    background: rgb(255,255,255)
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised,.mdl-button--accent.mdl-button--accent.mdl-button--fab {
    color: rgb(255,255,255);
    background-color: rgb(255,64,129)
}

.mdl-button[disabled][disabled],.mdl-button.mdl-button--disabled.mdl-button--disabled {
    color: rgba(0,0,0, 0.26);
    cursor: default;
    background-color: transparent
}

.mdl-button--fab[disabled][disabled],.mdl-button--fab.mdl-button--disabled.mdl-button--disabled {
    background-color: rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26)
}

.mdl-button--raised[disabled][disabled],.mdl-button--raised.mdl-button--disabled.mdl-button--disabled {
    background-color: rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26);
    box-shadow: none
}

.mdl-button--colored[disabled][disabled],.mdl-button--colored.mdl-button--disabled.mdl-button--disabled {
    color: rgba(0,0,0, 0.26)
}

.mdl-button .material-icons {
    vertical-align: middle
}

.mdl-animation--default {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.mdl-animation--fast-out-slow-in {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.mdl-animation--linear-out-slow-in {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.mdl-animation--fast-out-linear-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}

.mdl-progress {
    display: block;
    position: relative;
    height: 4px;
    width: 500px;
    max-width: 100%
}

.mdl-progress>.bar {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0%;
    transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1)
}

.mdl-progress>.progressbar {
    background-color: rgb(63,81,181);
    z-index: 1;
    left: 0
}

.mdl-progress>.bufferbar {
    background-image: linear-gradient(to right, rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)),linear-gradient(to right, rgb(63,81,181), rgb(63,81,181));
    z-index: 0;
    left: 0
}

.mdl-progress>.auxbar {
    right: 0
}

@supports (-webkit-appearance: none) {
    .mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate)>.auxbar,.mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate)>.auxbar {
        background-image:linear-gradient(to right, rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)),linear-gradient(to right, rgb(63,81,181), rgb(63,81,181));
        mask: url("/images/buffer.svg?embed")
    }
}

.mdl-progress:not(.mdl-progress--indeterminate)>.auxbar,.mdl-progress:not(.mdl-progress__indeterminate)>.auxbar {
    background-image: linear-gradient(to right, rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)),linear-gradient(to right, rgb(63,81,181), rgb(63,81,181))
}

.mdl-progress.mdl-progress--indeterminate>.bar1,.mdl-progress.mdl-progress__indeterminate>.bar1 {
    background-color: rgb(63,81,181);
    animation-name: indeterminate1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.mdl-progress.mdl-progress--indeterminate>.bar3,.mdl-progress.mdl-progress__indeterminate>.bar3 {
    background-image: none;
    background-color: rgb(63,81,181);
    animation-name: indeterminate2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes indeterminate1 {
    0% {
        left: 0%;
        width: 0%
    }

    50% {
        left: 25%;
        width: 75%
    }

    75% {
        left: 100%;
        width: 0%
    }
}

@keyframes indeterminate2 {
    0% {
        left: 0%;
        width: 0%
    }

    50% {
        left: 0%;
        width: 0%
    }

    75% {
        left: 0%;
        width: 25%
    }

    100% {
        left: 100%;
        width: 0%
    }
}

.mdl-ripple {
    background: rgb(0,0,0);
    border-radius: 50%;
    height: 50px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 50px;
    overflow: hidden
}

.mdl-ripple.is-animating {
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1),width 0.3s cubic-bezier(0, 0, 0.2, 1),height 0.3s cubic-bezier(0, 0, 0.2, 1),opacity 0.6s cubic-bezier(0, 0, 0.2, 1)
}

.mdl-ripple.is-visible {
    opacity: 0.3
}

.button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0;
    line-height: 36px;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    vertical-align: middle
}

.bidi-ltr .button {
    margin-left: 5px
}

.flatButton {
    color: #4285f4
}

.flatButton:hover {
    background-color: #e0e0e0
}

.preload {
    display: none
}

.vbox {
    display: flex;
    flex-direction: column
}

.hbox {
    display: flex;
    flex-direction: row
}

.flex1 {
    flex: 1
}

.center {
    align-items: center
}

.fade {
    transition: opacity .3s ease-in-out
}

.fullHeight {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.a11yMessage {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

#accountListView {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    width: 280px
}

#accountListView .accountList {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%
}

#accountListView .accountList .item {
    background-color: #f5f5f5;
    color: #616161;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    line-height: normal;
    overflow: hidden;
    padding: 10px 14px;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    transition: color 0.15s ease;
    white-space: nowrap
}

#accountListView .accountList .item:last-child {
    padding-bottom: 10px
}

#accountListView .addAccountButton .mdl-ripple.is-visible,#accountListView .accountList .item .mdl-ripple.is-visible {
    opacity: .1
}

#accountListView .accountList .item:focus,#accountListView .accountList .item:hover,#accountListView .addAccountButton:hover,#accountListView .addAccountButton:focus,#accountListView .backButton:hover,#accountListView .backButton:focus {
    background: #e0e0e0;
    outline: none
}

#accountListView .backButton:hover {
    border-radius: 2px
}

#accountListView .accountList .item:active,#accountListView .addAccountButton:active {
    background-color: #e0e0e0
}

#accountListView .accountList .item .mdl-ripple,#accountListView .addAccountButton .mdl-ripple {
    background-color: #616161
}

#accountListView .addAccountButton {
    height: 49px;
    padding: 0
}

#accountListView .addAccountButtonLabel {
    border-top: 1px solid #e0e0e0;
    color: #4285f4;
    flex: 1;
    padding: 6px 0
}

.bidi-ltr #accountListView .addAccountButtonLabel {
    margin-left: 52px;
    text-align: left
}

#accountListView .backButton {
    color: #616161;
    cursor: pointer;
    font-size: 14px;
    margin-top: 4px;
    outline: none;
    overflow: hidden;
    padding: 10px 14px;
    text-overflow: ellipsis;
    white-space: nowrap
}

#accountListView .backButton:focus:active {
    background-color: transparent
}

#accountListView .backButtonArrow {
    background-image: url(../images/ic_arrow_back_black_2x_web_24dp.png);
    background-size: 24px;
    background-repeat: no-repeat;
    height: 24px;
    opacity: .61;
    width: 24px
}

.bidi-ltr #accountListView .backButtonArrow {
    margin-right: 12px;
    background-image: url(../images/ic_arrow_back_black_2x_web_24dp.png)
}

#menuView {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#menuView.with-userInfo {
    /* height: 155px */
}

#menuView .menu {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    min-height: 116px;
    outline: none;
    overflow: hidden auto;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}

#menuView .menu .item {
    padding: 0;
    width: 100%;
}

#menuView .menu .item {
    background-color: #fff;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 18px;
    padding: 0 18px;
    transition: color 0.15s ease;
    width: 100%
}

#menuView .menu .item:focus,#menuView .menu .item:hover {
    outline: none;
    background-color: #f5f5f5
}

#menuView .menu .item:active {
    background-color: #f5f5f5
}

#menuView .menu .item div:first-child {
    position: relative;
    z-index: 1
}

#menuView .menu .item .itemLabel {
    color: #4285f4;
    margin-left: 22px;
    margin-right: 0;
    transition: color 0.2s cubic-bezier(0.4,0,0.2,1);
    text-align: left;
    text-decoration: none
}

#menuView .menu .item .mdl-ripple {
    background-color: #e0e0e0
}

#menuView .menu .item .mdl-ripple.is-visible {
    opacity: 1
}

#menuView .menu .item .icon {
    min-height: 20px
}

#menuView .controls {
    border-top: 1px solid lightgray;
    display: flex
}

#menuView .userInfo {
    background-color: #f5f5f5;
    box-sizing: border-box;
    color: #616161;
    cursor: pointer;
    flex: 1 1 auto;
    font-size: 12px;
    height: 38px;
    line-height: normal;
    outline: none;
    overflow: hidden;
    padding: 8px 14px 6px;
    text-overflow: ellipsis
}

#menuView .userInfo:focus {
    background-color: #e0e0e0;
    outline: none
}

#menuView .userInfo:active {
    background-color: #e0e0e0
}

#menuView .userInfo:hover {
    background-color: #e0e0e0
}
.list {
    background-color: #e0e0e0;
}

#menuView .openInboxButton {
    border-radius: 0;
    flex: 0 0 auto;
    height: 24px;
    min-width: 0;
    overflow: hidden;
    padding: 8px 8px 6px;
    width: 24px
}

.bidi-ltr #menuView .openInboxButton {
    border-left: 1px solid lightgray
}

#menuView .actionIcon {
    position: relative;
    z-index: 1
}

html,body {
    background-color: #f5f5f5;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 600px;
    margin: 0;
    min-height: 116px;
    padding: 0;
    transition: min-height .15s;
    width: 400px
}

#popupView {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform .15s;
    transform: translate3d(0,0,0);
    width: 100%;
    height: 100%;
}

.bidi-ltr #popupView {
    transform-origin: left top
}

#popupView.sliding .accountListContent,#popupView.sliding.showAccountListView .menuContent {
    visibility: visible
}

#popupView .accountListContent,#popupView.showAccountListView .menuContent {
    visibility: hidden
}

#popupView.showAccountListView .accountListContent {
    visibility: visible
}

#popupView.showAccountListView {
    transform: translate3d(-280px,0,0)
}

.userAccount .userAccountAvatar {
    border-radius: 30px;
    height: 24px;
    width: 24px
}

.bidi-ltr .userAccount .userAccountAvatar {
    margin-right: 12px
}

.userAccount .userAccountSelector {
    height: 24px;
    opacity: .61
}

.userAccount .userAccountEmail {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.userAccount .userAccountSelected {
    display: none;
    height: 24px;
    opacity: .61
}

.userAccount.selected .userAccountSelected {
    display: block
}
.pipeline_status__head {
    background-color: #fff;
}
