body {
    background: #10333d !important;
}
.feature__background {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/vader.png') !important;
    right: -20% !important;
    width: 100vw !important;
    height: 100vh !important;

}
.feature__header_main {
    width: 200px !important;
    font-size: 60px !important;
    line-height: 1.1 !important;
}
.svg-common--company-dims {
    width: 20px !important;
    height: 100% !important;
}
.page_footer__skolkovo-pic {
    width: 140px !important;
}
.work-area {
    background: #f5f5f5;
}
div#category-wrapper-recommended.widget-category-wrapper,
div#category-wrapper-useful.widget-category-wrapper,
div#category-wrapper-chats.widget-category-wrapper,
div#category-wrapper-mail.widget-category-wrapper,
div#category-wrapper-site.widget-category-wrapper,
div#category-wrapper-phone.widget-category-wrapper,
div#dg-container.dg-container,
div#category-wrapper-user-integrations.widget-category-wrapper{
	display: none;
}
